<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hyperadmin_dashboard_template}" lang="en">

<head>

<title>Client edit</title>



</head>

<body>
	<div class="wrapper" layout:fragment="content">


			<!--  <div class="panel-header panel-header-sm">
      </div> -->

			<div class="content">

				<div class="wrapper">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h5 class="title">Edit Client</h5>
							</div>

							<div class="card-body">
								<form method="POST"
									th:action="@{/clients_show/__${client.id}__}"
									th:modelAttribute="editClient">




									<div class="row">
										<label class="col-sm-1 col-form-label" id="clientName">Name</label>
										<div class="col-sm-4">
											<div class="form-group">
												<input class="form-control" th:value="${client.clientName}"
													type="text" name="clientName" id="clientName"
													aria-invalid="false">
											</div>
										</div>
									</div>



									<div class="row">

										<label class="col-sm-1 col-form-label"
											id="clientAddressStreet">Adress</label>
										<div class="col-sm-2">
											<div class="form-group">
												<input class="form-control"
													th:value="${client.clientAddressStreet}" type="text"
													name="clientAddressStreet" id="clientAddressStreet"
													aria-invalid="false" placeholder="Street">
											</div>
										</div>


										<div class="col-sm-2">
											<div class="form-group">
												<input class="form-control"
													th:value="${client.clientAddressCity}" type="text"
													name="clientAddressCity" id="clientAddressCity"
													aria-invalid="false" placeholder="City">
											</div>
										</div>


										<div class="col-sm-2">
											<div class="form-group">
												<input class="form-control"
													th:value="${client.clientAddressPostalCode}" type="text"
													name="clientAddressPostalCode" id="clientAddressPostalCode"
													aria-invalid="false" placeholder="Postal code">
											</div>
										</div>
									</div>




									<div class="row">

										<label class="col-sm-1 col-form-label" id="contactPersonName">Contact</label>
										<div class="col-sm-2">
											<div class="form-group">
												<input class="form-control"
													th:value="${client.contactPersonName}" type="text"
													name="contactPersonName" id="contactPersonName"
													aria-invalid="false" placeholder="Name">
											</div>
										</div>


										<div class="col-sm-2">
											<div class="form-group">
												<input class="form-control"
													th:value="${client.contactPersonNumber}" type="text"
													name="contactPersonNumber" id="contactPersonNumber"
													aria-invalid="false" placeholder="Number">
											</div>
										</div>


										<div class="col-sm-2">
											<div class="form-group">
												<input class="form-control"
													th:value="${client.contactPersonEmail}" type="text"
													name="contactPersonEmail" id="contactPersonEmail"
													aria-invalid="false" placeholder="Email">
											</div>
										</div>
									</div>


									<div class="row">
										<label class="col-sm-1 col-form-label" id="clientCode">Client
											code</label>
										<div class="col-sm-3">
											<div class="form-group">
												<input class="form-control" th:value="${client.clientCode}"
													type="text" name="clientCode" id="clientCode"
													aria-invalid="false">
											</div>
										</div>
									</div>



									<button class="btn btn-primary btn-simple" type="submit">Edit
										client</button>
								</form>
							</div>
						</div>
						<br />


					</div>
				</div>
			</div>


			<footer class="footer">
				<div class="container">
					<div>
						<ul>
							<li><a href="https://www.google.com"> FLUO </a></li>
							<li><a href="https://www.google.com"> About Us </a></li>
							<li><a href="https://www.google.com"> Blog </a></li>
							<li>
								<div class="copyright" id="copyright">&copy;</div>
							</li>
						</ul>
					</div>

				</div>
			</footer>
		</div>



</body>

</html>
