<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>FluoControl - Welcome!</title>
        <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/css/defaultTemplateStyle.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div style="padding:70px;">
            <h1>Witaj!</h1>
        	<p>Kliknij <a th:href="@{/login}">tutaj</a> aby przejść dalej. </p>
        </div>
        
        		
    </body>
</html>