<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hyperadmin_dashboard_template}" lang="en">

<head>

<title>Dashboard</title>



</head>

<body>
	<div class="wrapper" layout:fragment="content">

		<div class="main-panel">

			<!--  <div class="panel-header panel-header-lg">
     
      </div> -->
			<div class="content"></div>


			<footer class="footer">
				<div class="container">
					<nav>
						<ul>
							<li><a href="https://www.google.com"> FLUO </a></li>
							<li><a href="https://www.google.com"> About Us </a></li>
							<li><a href="https://www.google.com"> Blog </a></li>
						</ul>
					</nav>
					<div class="copyright" id="copyright">&copy;</div>
				</div>
			</footer>
		</div>
	</div>


</body>

</html>
