<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hyperadmin_dashboard_template}" lang="en">

<head>

<title>Dashboard</title>



</head>

<body>
	<div class="wrapper" layout:fragment="content">

		

			<div class="card">
     	  	</div>
     	  	
			


			<footer class="footer">
				<div class="container">
					<nav>
						<ul>
							<li><a href="https://www.google.com"> FLUO </a></li>
							<li><a href="https://www.google.com"> About Us </a></li>
							<li><a href="https://www.google.com"> Blog </a></li>
							<li><div class="copyright" id="copyright">&copy;</div></li>
						</ul>
					</nav>
					
				</div>
			</footer>
		
	</div>


</body>

</html>
