<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title>FluoControl Logged Out</title>

    </head>
    <body>
		    <div layout:fragment="content" style="margin: auto; padding: 10px; text-align: center;">
		            <h1 th:inline="text">Zostałeś pomyślnie wylogowany.</h1>
                    <br>
			             <div style="padding: 5px;">
                             <a class="btn btn-success btn-lg btn-block" th:href="@{/}" role="button">Powrót do strony głównej</a>
                        </div>
                
                        <div style="padding: 5px;">
                            <a class="btn btn-success btn-lg btn-block" th:href="@{/login}" role="button">Zaloguj się ponownie</a>
                        </div>	  
        
            </div>
            
			
    </body>
</html>