<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        <title>Login</title>
    </head>
    <body class="text-center">
        <div layout:fragment="content">
        
		            <form class="form-signin" th:action="@{/login}" method="post">
		                	<img class="p-3" th:src="@{/images/logoLogin.png}" src="../static/images/logoLogin.png" alt="Super logo"/>
		                
		                
						            <div class="alert alert-warning alert-dismissible fade show" th:if="${param.error}" align="center" role="alert">
									 <strong>Coś poszło nie tak!</strong> Wprowadzony email bądź hasło są niepoprawne.
									 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
									 <span aria-hidden="true">&times;</span>
									 </button>
									</div>
		            
		                
					                <div th:if="${param.logout}">
					                    You have been logged out.
					                </div>
				                
					                <label for="inputEmail" class="sr-only">e-mail</label>
					                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="e-mail" required="" />
					                <label for="inputPassword" class="sr-only">hasło</label>
					                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="hasło" required="" />
					                <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się </button>
		            </form>
		            <form class="form-signin" th:action="@{/signup}" method="get">
		                <button class="btn btn-outline-primary" type="submit">Załóż konto</button>
		            </form>
        </div>
    </body>
</html>