<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Poka¿ klienta</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/client" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Klient</a>
                </h3>
                <h2 th:text="${client.clientName}"></h2>
                
                <dl class="list">
                    <dt>Address klienta</dt>
                    <dd th:text="${client.clientAddress}"></dd>
                    <dt>Kod klienta</dt>
                    <dd th:text="${client.clientCode}"></dd>
                </dl>
                <form action="/delete">
                    <input type="hidden" name="id" th:value="${client.id}" />
                    <h2><input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Jesteœ pewny?');" />
                        <a th:href="@{'/edit/' + ${client.id}}" class="btn btn-warning">Edytuj</a></h2>
                </form>
            </div>
        </div>
    </body>
</html>